
/*
 * Colores

 Color fondo: #FBEECA
 Color negro: #241C15
 Color celeste verdoso: #007C89
 Color amarillo:
 */


/*
 * Generales
 */

body {
    background-color: #FBEECA;
    font-family: 'Inter', sans-serif;
    color: #241C15;
}

/*
 * Componentes
 */

/* Contenedor individual de cada plan */
.price__columns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    overflow: auto;

}

.title {
    font-family: 'Libre Baskerville', serif;
}

.container {
    margin-inline: auto;
    padding: 1rem;
    max-width: 1000px;
}

.ul-reset {
    list-style: none;
}

.image {
    display: block;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.button {
    display: block;
    text-align: center;
    padding: 2rem;
    font-size: 1rem;
    background-color: #007C89;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.button:hover {
    background-color: #C5DBF2;
    color: #241C15;
}

.button--transparent {
    background-color: transparent;
    color: #007C89;
}

.link {
    color: #007C89;
    text-decoration: none;
    font-weight: bold;
}

/*
 * Tabla de precios
 */

.info {
    position: relative;
    background-color: #FFF;
    padding: 2rem;
    border: 1px solid gray;
    min-width: 10rem;
}

.info__alert {
    display: none;
    font-size: .7rem;
    background-color: yellow;
    padding-block: .5rem;
    padding-inline: 2rem;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
}

.info__alert--show {
display: block;
}

.info__description {
    min-height: 5rem;
}
.info__block {
    display: block;
}

.number__price {
    font-size: 3rem;
}

.info__buy {
    margin-block: 2rem;
}

.info__list {
    list-style-image: url("../img/check16.avif");
    margin-left: -1rem;
    min-height: 23rem;
    font-size: .9rem;
}

.info__item {
    margin-bottom: 1rem;
}

.info__footer {
    margin-top: 1.5rem;
}